<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <!--======== CSS ======== -->
    {% load static %}<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
    
    <!--===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'> 
</head>
<body>
    

    <!--===== Panel 3 ===== -->
    <div class="menu-bar1">
        <ul class>
            <li class="menu-button"><a href="#"> PATIENT CARE <i class='bx bxs-down-arrow'></i></a>
                <div class="submenu-1 submenu">
                    <ul>
                        <li><a href="#"> Find a Doctor </a></li>
                        <li><a href="#"> Surgery - Assumed price </a></li>
                        <li><a href="#"> Clinic Quality And Outcomes </a></li>
                        <li><a href="#"> Service Excellence </a></li>
                        <li><a href="#"> Patient Testimonial </a></li>
                        <li><a href="#"> Value Added Services </a></li>
                        <li><a href="#"> Health and Lifestyle </a></li>
                        <li><a href="#"> Pay Online </a></li>
                        <li><a href="#"> Medical Feed </a></li>
                    </ul>
                </div>
            </li>

            <li class="menu-button"><a href="#"> CENTERS OF EXCELLENCE<i class='bx bxs-down-arrow'></i></a>
                <div class="submenu-2 submenu">
                    <ul>
                        <li><a href="#">Cardiology</a></li>
                        <li><a href="#">Orthopedics</a></li>
                        <li><a href="#">Spine
                        <li><a href="#">Neurology And Neurosurgery</a></li>
                        <li><a href="#">Gastroenterology</a></li>
                        <li><a href="#">Oncology</a></li>
                        <li><a href="#">Transplants</a></li>
                        <li><a href="#">ICU
                        <li><a href="#">Emergency</a></li>
                        <li><a href="#">Preventive Health</a></li>
                        <li><a href="#">Robotics</a></li>
                        <li><a href="#">Bariatric Surgery</a></li>
                        <li><a href="#">Nephrology And Urology</a></li>
                        <li><a href="#">Colorectal Surgery</a></li>
                        <li><a href="#">Obstetrics And Gynaecology</a></li>
                        <li><a href="#">Pulmonology</a></li>
                        <li><a href="#">Ear, Nose And Throat</a></li>
                        <li><a href="#">Vascular Surgery</a></li>
                        <li><a href="#">Pediatrics</a></li>
                        <li><a href="#">Dermatology</a></li>
                        <li><a href="#">Critical Care</a></li>
                    </ul>
                </div>
            </li>
            <li class="menu-button"><a href="#"> HEALTH INFORMATION<i class='bx bxs-down-arrow'></i></a>
                <div class="submenu-3 submenu">
                    <ul>
                        <li><a href="#">Diseases And Conditions</a></li>
                        <li><a href="#">Tests And Procedures</a></li>
                        <li><a href="#">Medical Glossary Decoded</a></li>
                        <li><a href="#">Understanding Investigations</a></li>
                    </ul>
                </div>
            </li>
            <li class="menu-button"><a href="#"> INTERNATIONAL PATIENT<i class='bx bxs-down-arrow'></i></a>
                <div class="submenu-4 submenu">
                    <ul>
                        <li><a href="#">Plan Your Trip</a></li>
                        <li><a href="#">Online Consultation</a></li>
                        <li><a href="#">Visa</a></li>
                        <li><a href="#">Apollo Insurance</a></li>
                    </ul>
                </div>
            </li>
            <li class="menu-button"><a href="#"> ACADEMIC And RESEARCH<i class='bx bxs-down-arrow'></i></a>
                <div class="submenu-5 submenu">
                    <ul>
                        <li><a href="#">Courses</a></li>
                        <li><a href="#">Academics</a></li>
                        <li><a href="#">Clinical Research</a></li>
                        <li><a href="#">Honors List</a></li>
                        <li><a href="#">Torch: Alumni Network</a></li>
                        <li><a href="#">Knowledge Series</a></li>
                    </ul>
                </div>
            </li>
            <li class="menu-button"><a href="#"> HOSPITAL<i class='bx bxs-down-arrow'></i></a>
                <div class="submenu-6 submenu">
                    <ul>
                        <li><a href="#">Hospitals in Ahmedabad</a></li>
                        <li><a href="#">Hospitals In Bangalore</a></li>
                        <li><a href="#">Hospitals In Delhi</a></li>
                        <li><a href="#">Hospitals In Guwahati</a></li>
                        <li><a href="#">Hospitals In Hyderabad</a></li>
                        <li><a href="#">Hospitals In Indore</a></li>
                        <li><a href="#">Hospitals In Karur</a></li>
                        <li><a href="#">Hospitals In Lucknow</a></li>
                        <li><a href="#">Hospitals In Madurai</a></li>
                        <li><a href="#">Covid-19 Vaccination Centers</a></li>
                    </ul>
                </div>
            </li>
            <li class="menu-button"><a href="#"> CONTACT US<i class='bx bxs-down-arrow'></i></a>
                <div class="submenu-7 submenu">
                    <ul>
                        <li><a href="#"> Find a Doctor </a></li>
                        <li><a href="#"> Surgery - Assumed price </a></li>
                        <li><a href="#"> Clinic Quality And Outcomes </a></li>
                        <li><a href="#"> Service Excellence </a></li>
                        <li><a href="#"> Patient Testimonial </a></li>
                        <li><a href="#"> Value Added Services </a></li>
                        <li><a href="#"> Health and Lifestyle </a></li>
                        <li><a href="#"> Pay Online </a></li>
                        <li><a href="#"> Medical Feed </a></li>
                    </ul>
                </div>
            </li>
            <li class="menu-button"><a href="#"> CORPORATE<i class='bx bxs-down-arrow'></i></a>
                <div class="submenu-8 submenu">
                    <ul>
                        <li><a href="#"> Find a Doctor </a></li>
                        <li><a href="#"> Surgery - Assumed price </a></li>
                        <li><a href="#"> Clinic Quality And Outcomes </a></li>
                        <li><a href="#"> Service Excellence </a></li>
                        <li><a href="#"> Patient Testimonial </a></li>
                        <li><a href="#"> Value Added Services </a></li>
                        <li><a href="#"> Health and Lifestyle </a></li>
                        <li><a href="#"> Pay Online </a></li>
                        <li><a href="#"> Medical Feed </a></li>
                    </ul>
                </div>
            </li>
        </ul>

    </div>
{% block body %}{% endblock body %}

</body>
</html>